<div class="form-group">
    <input 
        type="text"
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        class="form-control mt-2" 
        [formControl]="ngControl.control" 
        placeholder="{{label}}"
        bsDatepicker 
        [bsConfig]="bsConfig" 
        [maxDate]="maxDate" 
        placement="top"
        >
        <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">{{label}} is required</div>
        <div *ngIf="ngControl.control.errors?.isGreater" class="invalid-feedback">End date should be greater than Start date</div>
</div>
