<div>
    <div class="row">
        <div class="dropdown col">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{selectedProject?.projectName || "Select Project"}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li *ngFor="let project of projects">
                    <a class="dropdown-item" (click)="getProjectDetails(project)">{{project.projectName}}</a>
                </li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add Project</a>
                </li>
            </ul>
        </div>
        <!-- <div class="dropdown col-auto">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                2019
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">2019</a></li>
                <li><a class="dropdown-item" href="#">2021</a></li>
                <li><a class="dropdown-item" href="#">2022</a></li>
            </ul>
        </div> -->
    </div>
</div>
<div class="bg-light mt-2" style="height: 78vh;">
    <div class="mx-3 mb-2 mt-2 px-2 py-2 text-center text-light"
        style="background-color: #738c96; border-radius: 3px; display: inline-block; width: 96.65%;">
        <strong>
            PROJECT BRIEFING
        </strong>
    </div>
    <div class="mx-3">
        <div class="row py-2">
            <div class="col">Project Cost</div>
            <div class="col">{{selectedProject ? '$'+selectedProject.budget : "N/A"}}</div>
            <!-- <div class="col">{{selectedProject | currency:'USD'}}</div> -->
        </div>
        <div class="row py-2">
            <div class="col">Current Expenditure</div>
            <div class="col">{{selectedProject ? '$'+selectedProject.expenditure : "N/A"}}</div>
        </div>
        <div class="row py-2">
            <div class="col">Available Funds</div>
            <div class="col">{{selectedProject ? '$'+(selectedProject.budget - selectedProject.expenditure) : "N/A"}}</div>
        </div>
    </div>
    <div class="mx-3 mb-2 mt-2 px-2 py-2 text-center text-light" style="background-color: #738c96; border-radius: 3px;">
        <strong>
            TEAM MEMBERS SUMMARY
        </strong>
    </div>
    <div class="mx-3">
        <table class="table" id="teamsummary">
            <thead>
                <tr>
                    <th scope="col">Region</th>
                    <th scope="col">Team Members Count</th>
                    <th scope="col">Temporarily Unavailable Members</th>
                </tr>
            </thead>
            <tbody style="border-top: 1px;">
                <tr>
                    <td><strong>East</strong></td>
                    <td>20</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><strong>South</strong></td>
                    <td>15</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td><strong>West</strong></td>
                    <td>17</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><strong>North</strong></td>
                    <td>15</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="addProjectModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeAddProject()"></button>
            </div>
            <form [formGroup]="addProjectForm" (ngSubmit)="addProjectForm.valid && submit()"
                autocomplete="off">
                <div class="modal-body">
                    <app-text-input [formControl]="addProjectForm.controls['projectName']" [label]="'Project Name'"></app-text-input>
                    <app-text-input [formControl]="addProjectForm.controls['managerId']" [label]="'Manager Id'"></app-text-input>
                    <app-text-input [formControl]="addProjectForm.controls['clientName']" [label]="'Client Name'"></app-text-input>
                    <app-text-input [formControl]="addProjectForm.controls['budget']" [label]="'Budget'"></app-text-input>
                    <app-text-input [formControl]="addProjectForm.controls['expenditure']" [label]="'Expenditure'"></app-text-input>
                    <app-date-input [formControl]="addProjectForm.controls['startDate']" [label]="'Date of start'"></app-date-input>
                    <app-date-input [formControl]="addProjectForm.controls['endDate']" [label]="'Date of end'"></app-date-input>
                    <app-text-input [formControl]="addProjectForm.controls['teamSize']" [label]="'Team size'"></app-text-input>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            formControlName='isActive'>
                        <label class="form-check-label" for="flexCheckDefault">
                            Active
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="addProjectCloseButton"
                        data-bs-dismiss="modal" (click)="closeAddProject()">Close</button>
                    <button [disabled]="!addProjectForm.valid" type="submit" class="btn btn-primary"
                        data-bs-dismiss="modal">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>